body {
    padding: 0;
    margin: 0;
}


h1 {
    margin: 0;
    padding: 20px;
    display: block;
    background-color: #FF6F00;
    color: white;
    font-family: sans-serif;
    font-size: 3em;
}

h2 {
    font-size: 1.25em;
}


li {
    break-inside: avoid;
    padding: 20px;
}

li::marker {
    font-size: 1.25em;
    font-weight: bold;
}

.field {
    display: block;
    margin: 10px;
}

input, select {
    margin: 10px;
}

#config_test {
    column-count: 2;
    margin: 0;
    padding: 0;
}


#config_test #submit {
    font-size: 2em;
    padding: 10px;
}

#question {
    display: block;
    margin: 25px;
    padding: 25px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f0f0f0;
    size: 1.5em;
}

#palette {
    display: block;
    margin: 10px;
    column-count: 4;
}

#physics, #chemistry, #mathematics {
    display: block;
}

.question_button {
    margin: 1px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: inline-block;
}

.question_button.current {
    border: 3px solid black;
    font-weight: bold;
}

.unanswered.visited {
    background-color: #C62828;
    color: white;
}

.answered {
    background-color: #00E676;
    color: black;
}

.marked {
    border-radius: 50%;
}

#controls {
    display: block;
    margin: 10px;
    margin-top: 50px;
}

.controls {
    display: inline-block;
    margin: 5px;
    font-size: 1.1em;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

.controls#submit {
    background-color: #3D5AFE;
    color: white;
}

.controls#quit {
    background-color: #FF1744;
    color: white;
}

#timer {
    display: block;
    margin: 20px;

    font-size: 2em;
    text-align: right;
}

#statistics {
    border-collapse: collapse;
}

#statistics td, #statistics th {
    padding: 5px;
    border: 1px solid black;
}

#statistics th {
    text-align: left;
}

#new_exam {
    display: block;
    margin: 50px;
}