{% extends "layout.html" %}

{% block title %}
Configure Test
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='configure-test-script.js') }}"></script>
{% endblock %}

{% block style %}
<link rel="stylesheet"
    href="{{ url_for('static', filename='config-style.css') }}">
{% endblock %}

{% block body %}

<body>
    <h1>
        Configure the exam
    </h1>

    <form method="post"
        action="/jee/receive-test-config">
        <div id="sections">
            <label for="exam-name">Exam name</label>
            <input type="text"
                name="exam-name"
                id="exam-name"
                required>
            <fieldset id="section-1">
                <legend>Section 1</legend>
                <label for="section-1-name">Section name</label>
                <input type="text"
                    name="section-1-name"
                    id="section-1-name"
                    required>

                <label for="section-1-questions-type">Questions type</label>
                <select name="section-1-questions-type"
                    id="section-1-questions-type"
                    required>
                    <option value="mcq">Multiple Choice Questions (MCQ)</option>
                    <option value="numeric">Numeric</option>
                </select>

                <label for="section-1-number-of-questions">Number of questions</label>
                <input type="number"
                    name="section-1-number-of-questions"
                    id="section-1-number-of-questions"
                    required>

                <label for="section-1-marks-if-correct">Marks if correct</label>
                <input type="number"
                    name="section-1-marks-if-correct"
                    id="section-1-marks-if-correct"
                    required>

                <label for="section-1-marks-if-unattempted">Marks if unattempted</label>
                <input type="number"
                    name="section-1-marks-if-unattempted"
                    id="ssection-1-marks-if-unattempted"
                    required>

                <label for="section-1-marks-if-wrong">Marks if wrong</label>
                <input type="number"
                    name="section-1-marks-if-wrong"
                    id="section-1-marks-if-wrong"
                    required>
            </fieldset>
        </div>

        <input type="button"
            value="Add Section"
            id="add-section"
            onclick="add_section()">

        <input type="reset"
            value="Reset form"
            id="reset-sections"
            onclick="window.location.reload()">
        <input type="button"
            value="Back to test types"
            id="back-to-test-types"
            onclick="window.location.href='/jee/'">

        <input type="submit"
            value="Start test"
            id="start-test">
    </form>
</body>
{% endblock %}