{% extends "layout.html" %}

{% block title %}
Download Responses
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='submitted_script.js') }}"></script>
{% endblock %}

{% block body %}

<body>
    <h1>
        Click on either of the buttons below to download the responses.
    </h1>

    <button onclick="window.location.href='/jee/download_questions_csv'"
        class="controls"
        id="download_questions">
        Download Questions CSV
    </button>

    <button onclick="window.location.href='/jee/download_exams_csv'"
        class="controls"
        id="download_exams">
        Download Exams CSV
    </button>
</body>
{% endblock %}