{% extends "layout.html" %}

{% block title %}
JEE Practice Portal
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='config_script.js') }}"></script>
{% endblock %}

{% block body %}

<body>
    <h1>
        Configure the exam
    </h1>
    <form method="get"
        id="config_test"
        action="/jee/start">
        <ol>
            <li>
                <h2>Choose an exam type.</h2>
                <select name="test_type"
                    required
                    onchange="update_values()"
                    class="field">
                    <option value="mains"
                        selected>JEE Mains</option>
                    <option value="mains_old">JEE Mains (Old Pattern)</option>
                    <option value="random">Random Test</option>
                </select>
            </li>

            <li>
                <h2>Enter data for Physics.</h2>


                <div class="field">
                    Number of MCQ questions
                    <input type="number"
                        name="physics_mcq"
                        value="20"
                        required>
                </div>

                <div class="field">
                    Number of numeric questions
                    <input type="number"
                        name="physics_numeric"
                        value="5">
                </div>
            </li>

            <li>
                <h2>Enter data for Chemistry.</h2>


                <div class="field">
                    Number of MCQ questions
                    <input type="number"
                        name="chemistry_mcq"
                        value="20"
                        required>
                </div>

                <div class="field">
                    Number of numeric questions
                    <input type="number"
                        name="chemistry_numeric"
                        value="5">
                </div>
            </li>

            <li>
                <h2>Enter data for Mathematics.</h2>


                <div class="field">
                    Number of MCQ questions
                    <input type="number"
                        name="mathematics_mcq"
                        value="20"
                        required>
                </div>

                <div class="field">
                    Number of numeric questions
                    <input type="number"
                        name="mathematics_numeric"
                        value="5">
                </div>
            </li>

            <li>
                <h2>Enter the duration of the test in minutes.</h2>

                <input type="number"
                    name="duration"
                    value="180"
                    class="field"
                    required>
            </li>

        </ol>

        <input type="submit"
            value="Start Exam"
            id="submit">
    </form>
</body>
{% endblock %}