{% extends "layout.html" %}

{% block title %}Home | JEE Practice{% endblock %}

{% block body %}
<body>
    <h1>Home</h1>
    <p>Please select what you would like to do at this time.</p>

    <input type="button" value="Download CSVs" name="download" id="download"/>
    <input type="button" value="Upload answer key(s)" name="upload" id="upload"/>
    <input type="button" value="Configure new test" name="configure" id="configure"/>
    <input type="button" value="Go to running test" name="current" id="current"/>
</body>
{% endblock %}