{% extends "question.html" %}

    {% block question %}

        {% for choice in choices %}

            {% set choice_option = choice['option'] %}
            {% set choice_value = choice['value'] %}

            <div class="mcq-option">
                <input type="radio"
                    name="question"
                    id="{{ choice_option }}"
                    value="{{ choice_option }}"
                    onsubmit="mcq_store_value({{ question_number }})"
                    onchange="mcq_store_value({{ question_number }})"
                    {{
                    choice_value
                    }}>
                <label for="{{ choice_option }}">{{ choice_option }}</label>
            </div>

        {% endfor %}

        <input type="button"
            value="Clear"
            onclick="clear_mcq({{ question_number }})">

    {% endblock %}