{% extends "question.html" %}


{% block question %}
<form onchange="store_value()">
    <input type="radio"
        name="question"
        value="A"
        id="A">
    <label for="A">A</label>

    <input type="radio"
        name="question"
        value="B"
        id="B">
    <label for="B">B</label>

    <input type="radio"
        name="question"
        value="C"
        id="C">
    <label for="C">C</label>

    <input type="radio"
        name="question"
        value="D"
        id="D">
    <label for="D">D</label>

    <br>
    <br>

    <input type="button"
        value="Clear"
        class="controls"
        onclick="clear_mcq()">

</form>
{% endblock %}