<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <title>{{ q_no }}: {{ test_type }}</title>
    <link rel="stylesheet"
        href="{{ url_for('static', filename='question_style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body onload="set_palette()">
    <h1>
        Question {{ q_no }}
    </h1>

    <div id="question">
        {% block question %}{% endblock %}
    </div>

    <div id="palette">

        <form>
            <div class="subject"
                id="physics"></div>
            <div class="subject"
                id="chemistry"></div>
            <div class="subject"
                id="mathematics"></div>
        </form>

    </div>

    <div id="controls">
        <form action="/nav" method="get">
            <button id="prev" value="prev">
                Previous
            </button>
            <button id="next" value="next">
                Next
            </button>
            <button id="quit" value="quit">
                Quit
            </button>
            <button id="submit" value="submit">
                Submit
            </button>
        </form>
    </div>


</body>

</html>