{% extends "layout.html" %}

{% block title %}
{{ question_number }}: {{ question_type }}
{% endblock %}

{% block script %}
<script>
    const time_remaining_string = "{{ time_remaining_string }}";
    const timer_type = "{{ timer_type }}";
</script>
<script src="{{ url_for('static', filename='question-script.js') }}"></script>
{% endblock %}

{% block style %}
<link rel="stylesheet"
    href="{{ url_for('static', filename='question-style.css') }}">
{% endblock %}

{% block body %}

<body onload="init()">
    <div id="title-and-time">
        <h1>
            {{ test }}: Question {{ question_number }}
        </h1>

        <span id="timer-type">
            {{ timer_type }}
        </span>

        <span id="timer"></span>
    </div>

    <fieldset id="question-section">
        <legend>
            {{ question_type }} Question
        </legend>

        {% block question %} {% endblock %}
    </fieldset>

    <fieldset class="not-bordered palette">
        {% for section in sections %}

        <fieldset class="not-bordered palette section">
            <legend>
                {{ section['name'] }}
            </legend>

            {% for question in section['questions'] %}

            {% set number = question['question-number'] %}
            {% set marked = question['marked'] %}
            {% set visited = question['visited'] %}
            {% set answered = question['answered'] %}

            <input type="button"
                value="{{ number }}"
                id="question-{{ number }}"
                class="palette button {{ marked }} {{ visited }} {{ answered }}"
                onclick="go_to_question({{ number }})">

            {% endfor %}
        </fieldset>

        {% endfor %}
    </fieldset>

    <table id="statistics">
        <tr>
            <th>Answered</th>
            <td id="answered-count">{{ counts['answered'] }}</td>
        </tr>
        <tr>
            <th>Unanswered</th>
            <td id="unanswered-count">{{ counts['unanswered'] }}</td>
        </tr>
        <tr>
            <th>Marked for review</th>
            <td id="marked-count">{{ counts['marked'] }}</td>
        </tr>
        <tr>
            <th>Unvisited</th>
            <td id="unvisited-count">{{ counts['unvisited'] }}</td>
        </tr>
    </table>


    <fieldset id="controls"
        class="not-bordered">
        <input type="button"
            value="Previous"
            class="control"
            id="previous"
            onclick="go_to_previous_question({{ question_number }})"
            {{ previous_question_disabled }}>
        <input type="button"
            value="Next"
            class="control"
            id="next"
            onclick="go_to_next_question({{ question_number }})"
            {{ next_question_disabled }}>
        <input type="button"
            value="{{ mark_button_text }}"
            class="control"
            id="mark"
            onclick="mark_question({{ question_number }})">
        <input type="button"
            value="Quit"
            class="control"
            id="quit"
            onclick="finish_test('quit')">
        <input type="button"
            value="Submit"
            id="submit"
            class="control"
            onclick="finish_test('submit')">
    </fieldset>
</body>

{% endblock %}