{% extends "layout.html" %}

{% block title %}
    Test submitted
{% endblock %}

{% block script %} {% endblock %}

{% block style %}
    <link rel="stylesheet"
        href="{{ url_for('static', filename='config-style.css') }}">
{% endblock %}

{% block body %}
    <body>
        <h1>Submitted</h1>
        <p>
            Your test has been submitted successfully. You may either download the results or go back to the home page.
        </p>

        <input type="button"
            value="Download Results CSV"
            onclick="window.location.href='/jee/download'"
            name="download-csv"
            id="download-csv">
        <input type="button"
            value="Go back to home page"
            onclick="window.location.href='/jee/'"
            name="go-back-home"
            id="go-back-home">
    </body>

{% endblock %}